html, head, link, body, header,
img, h1, h2, nav, ul,
ol, li, aside, table, tr,
td, a, figure, p, figcaption,
section, label, input, br, select,
option, textarea, form, footer,
article {
  margin: 0;
  border: 0;
  padding: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
}

input[type="radio"], select, input[type="submit"] {
  cursor: pointer;
  outline: none;
}

form > input:last-child {
  background-color: Gold;

}

a[name="directions"] ol > li:nth-child(2n) {
  background-color: LightGray;
}

h2 + .review {
  border-top: 1px solid Black;
}

input[type="radio"] {
  -webkit-appearance: none;
  width: 27px;
  height: 27px;
  background-image: url(./assets/stars.png);
  vertical-align: bottom;
}
