html, head, link, body, header,
img, h1, h2, nav, ul,
ol, li, aside, table, tr,
td, a, figure, p, figcaption,
section, label, input, br, select,
option, textarea, form, footer,
article {
  margin: 0;
  border: 0;
  padding: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
}
